<h1>TrackLogged</h1>
<p>Welcome to TrackLogged, a website that lets you review some of your favorite records and allows you to see what others have written down as well</p>


<div id="search_area">
    <input id="search" type="text" placeholder="Search for Album...">
    <button id="enter">Find</button>
</div>


<div id="search_area_results">

</div>


<div id="review-post-area">


</div>