:root{
  --background-color: gray;
}

html{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
  display:flex;
  max-width: 1900px;
  flex-direction: column;
  flex-wrap: wrap;
}

/*Header Selector*/

header{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 100%;
  order: 1;
}

#title{
  font-size: 3em;
}

/*Search Area Selectors*/

#search_area{
  flex-direction: row;
  display: flex;
  justify-content: center;
  gap: 5px;
  padding: 20px;
  flex: 1 1 100%;
  order: 2;
}

#search{
  width: 300px;
  height: 40px;
  padding: 5px 10px;
  border: 1px solid #000;
  border-radius: 4px;
  gap: 5px;
}

#enter{
  width: 100px;
  height: 40px;
  padding: 2px 5px;
  border: 1px solid #000;
  border-radius: 4px;
  gap: 5px;
  transition: 0.5s ease-in;
}

#enter:hover{
  background-color: gray;
  cursor: pointer;
}


/*Nav Bar Selectors*/

nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1 1 100%;
  order: 2;
  gap: 10px;
}

#recent{
  width: 100px;
  height: 30px;
  padding: 2px 5px;
  border: 1px solid #000;
  border-radius: 4px;
  gap: 5px;
  transition: 0.5s ease-in-out;
}

#recent:hover{
  background-color: #999;
  cursor:pointer;
}

#oldest:hover{
  background-color: #999;
  cursor:pointer;
}

#highest_rated:hover{
  background-color: #999;
  cursor:pointer;
}


/*Main Selectors*/

main{
  flex: 1 1 100%;
  order: 4;
}

#img_area_results{
  display: flex;
  flex-direction: row;
  justify-content: center;
  order: 3;
}

span,h2{
  display: flex;
  flex-direction: row;
}

.track{
  list-style: none;
}

.label{
  color: #666;
}

.track_item{
  display: flex;
  align-items: flex-start;
  gap: 10px;
  background-color: white;
  padding: 20px;
  transition: 0.2s ease-in;
  border: 2px solid black;
}

.track_item:hover{
  background-color: darkgray;
  cursor: pointer;
}

.album_artwork{
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.artist_name{
  font-size: 17px;
}

.album_title{
  font-size: 17px;
}

.album_release{
  font-size: 17px;
}