:root{
  --background-color: gray;
}

html{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
  display:flex;
  max-width: 1900px;
  flex-direction: column;
  flex-wrap: wrap;
}

/*Header Selector*/

header{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 100%;
  order: 1;
}

#title{
  font-size: 3em;
}

/*Search Area Selectors*/

#search_area{
  flex-direction: row;
  display: flex;
  justify-content: center;
  padding: 20px;
  flex: 1 1 100%;
  position: relative;
  order: 2;
}

#search{
  width: 500px;
  padding-right: 60px;
  height: 40px;
  padding: 5px 10px;
  border: 1px solid #000;
  border-radius: 20px;
  margin-left: 100px;
}

#enter{
  width: 100px;
  height: 40px;
  border: 1px solid #000;
  border-radius: 20px;
  transition: 0.5s ease-in;
  position: relative;
  right: 100px;
}

#enter:hover{
  background-color: gray;
  cursor: pointer;
}


/*Nav Bar Selectors*/

nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1 1 100%;
  order: 2;
  gap: 10px;
}

#recent{
  width: 100px;
  height: 30px;
  padding: 2px 5px;
  border: 1px solid #000;
  border-radius: 4px;
  gap: 5px;
  transition: 0.5s ease-in-out;
}

#recent:hover{
  background-color: #999;
  cursor:pointer;
}

#oldest:hover{
  background-color: #999;
  cursor:pointer;
}

#highest_rated:hover{
  background-color: #999;
  cursor:pointer;
}


/*Main Selectors*/

main{
  flex: 1 1 100%;
  order: 4;
}

#img_area_results{
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: 0px;
  order: 3;
}

span,h2{
  display: flex;
  flex-direction: row;
}

.track{
  display: flex;
  flex-direction: column;
  list-style-type: disc;
  border-radius: 8px;
  width: 500px;
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: white;
  border: solid 2px black;
  padding: 0;
  position: relative;
  top: -45px;
  box-shadow: 5px 5px 5px black;
}

.label{
  color: #666;
}

.track_item {
  border-radius: 0;
  display: flex; 
  align-items: center; 
  padding: 20px;
  transition: 0.2s ease-in;
  border-radius: 8px;
}
.album_cover {
  flex-shrink: 0;
}

.track_item:hover{
  background-color: darkgray;
  cursor: pointer;
}

.album_artwork{
  height: 70px;
  width: 70px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 10px;
}

.artist_name{
  font-size: 13px;
}

.album_title{
  font-size: 13px;
}

.album_release{
  font-size: 13px;
}


/*pop up window selectors*/

#popup {
  display: none; 
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.popup-content {
  margin: 10% auto;
  padding: 20px;
  width: 300px;
  border-radius: 8px;
  text-align: center;
  background: #fff;
  border: 2px solid black;
  border-radius: 10px;
}

#greeting{
  text-align: center;
  justify-content: center;
}

#closePopUp {
  font-size: 15px;
  width: 100px;
  height: 30px;
  padding: 2px 5px;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
#closePopUp:hover{
  background-color: #999;
  cursor:pointer;
}



#review_popup{
  display:none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

